html {
  background-color: #edecf4;
}

.text-color {
  color: #453d66;
}

input {
  border: none;
  /* border-bottom: 1px solid black; */
  &:focus {
    outline: none;
  }
}

.last-box {
  height: 1080px;
}
body {
  /* overflow: hidden; */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

ul {
  list-style: none;
}

.logo-container {
  display: flex;
  align-items: center;
  color: #453d66;
  font-size: 64px;
}

.logo-container img {
  max-height: 50px; /* 로고의 크기를 조정하세요 */
}

.content-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #554d74;
  border-radius: 40px;
  width: 430px;
  padding: 10px;
  margin-top: 30px;
}

.login-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff; /* 버튼 배경색 */
  color: #fff; /* 버튼 텍스트 색상 */
  border-radius: 5px;
}

.login-btn:hover {
  background-color: #0056b3; /* 버튼 배경색 변경 (호버 시) */
}

.text-container {
  margin-top: 250px;
  text-align: center;
}

.text-container2 {
  margin-top: 100px;
  text-align: center;
}

.text-container h3,
.text-container2 h3 {
  margin: 20px 0px;
  font-size: 63px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh; /* 필요에 따라 높이를 조정하세요 */
}

.start-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: transparent; /* 버튼 배경색 */
  color: #fff; /* 버튼 텍스트 색상 */
  border-radius: 5px;
  background-image: url('./images/landing-btn.png');
  background-size: cover;
  width: 230px;
  height: 55px;
  position: absolute;
  bottom: 360px;
}

.start-btn:hover {
  background-color: transparent; /* 버튼 배경색 변경 (호버 시) */
}

/* loginPage */

.local-login {
  margin-top: 60px;
  margin-bottom: 10px;
}

.local-container {
  margin-top: 20px;
}
.local-desc {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.for-border {
  border-radius: 9px;
  border: 1px solid #453d66;
}

.local-input {
  box-sizing: border-box;
  width: 354px;
  height: 55px;
  border-radius: 9px;
  font-size: 20px;
  padding: 0px 20px;
}

.social-login ul {
  display: flex;
  justify-content: space-between; /* Distribute space evenly between the items */
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin-top: 20px; /* Remove default margin */
  margin-bottom: 100px;
}

.social-login li {
  /* Optional: Add styling for the list items */
  width: 55px;
  height: 55px;
  border: 1px solid #453d66;
  border-radius: 14px;
  margin: 0px 20px;
  background-color: #ffffff;
}

.social-desc {
  text-align: center;
  margin: 15px;
  font-weight: 500;
  font-size: 20px;
}

.allura-regular {
  font-family: 'Allura', cursive;
  font-weight: 400;
  font-style: normal;
}

/* searchPage */

.open-btn {
  position: fixed; /* 고정 위치 */
  left: 20px; /* 화면 왼쪽에 붙임 */
  top: 50%; /* 상단에서 50% 위치에 배치 */
  transform: translateY(-50%); /* Y축으로 -50% 이동시켜 중앙 정렬 */
  /* 기타 스타일 */
}

.open-img {
  cursor: pointer;
}
